h1 {color: red;}
h2 {color: red;}
h3 {color: red;}
p  {color: blue;}
body {background-color: light;}
li {color: red !important;}
td {color: #ff1593;}
th {color: #5bff15;}
q  {color: green;}
title {color: red;}
samp {color: red;}
nobr {color: red;}
p6 {background-color: none;}
p6 {color:red;}
